body{
    padding: 0;
    margin: 0;
}
#header{
    background-color: white;

}
#navigation{
    display: flex;
    justify-content: space-between;
    border-style:ridge;
    
    
}
.item1{
    margin: 0;
}
.item2{
     
    padding: 5px 30px 0  0;
}
.items ul{
    
    list-style: none;
}
.items  ul li{
    display: inline-block;
    padding: 8px;
   
   
    

}
#searchBar{
    margin: 20px 0  0 0 ;
    
}
#searchBar button{
    background-color: blue;
    color: white;
    border-style: none;
    border-radius:5px;
    padding: 4px;
}

#navigation img{
    width:50px;
}

.header li{
    font-weight: lighter;
}
.header1 i{
padding:4px;
}
#sidebar{
    border: 1px solid black;
    float: left;
    width:200px;
    clear:both;
}
/* #cate{
    border: 1px solid black;
    float: left;
    width:200px;
}
#brands{
    border: 1px solid black;
    float: left;
    width:200px;
} */

#column{
    float:left;
    width:auto;
    margin: 0 0 0 40px;
    padding:40px;
    box-sizing: border-box;
    /* clear:both; */
    display:grid;
    grid-template-columns:200px 200px 200px 200px;
    grid-template-rows: auto  ;
    /* grid-gap:50px; */
    grid-row-gap:20px;
    grid-column-gap:20px;

}
.col1{
    border-style: ridge;

}
#column img{
    width:195px;
}
#column h4{
    padding:0;
    margin:0;
}
#column p{
    margin:1px;
}
